---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
#  footer: 4
#  main: 4
#  utility: 1
#meta:
#  description: "Who, what, when, where, why, and how."
#  image:
#    alt: "Shifting the synergy paradigm" # It's okay for this to be empty if the image is decorative
#    src: 1200x630/cytonn-photography-n95VMLxqM2I-unsplash.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
permalink: /Support/
#published: true
#schema:
#  type: "Thing"
sections:
#  - "freshness"
#  - "mailchimp"
#sitemap: true
#tags: ["three", "four"]
title: "Support"
---

<section id=call-of-action class="layout--stripe">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Wir arbeiten intensive daran"
      classes="text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        <p>
        Wir arbeiten intensiv daran, diese Funktion bald zu bieten.
        </p>
        <p>
        Aber hier haben wir Ihnen eine Check-Liste mit allen wichtigen Dokumenten und besonderen Bestimmungen vorbereitet. Damit können Sie sich an jedes einzelne Social Media Unternehmen wenden und die Abschaltung veranlassen.
        </p>
        <p>
         <ul>
            <li>Vollmacht</li>
            <li>Geburtsurkunde</li>
            <li>Testament</li>
            <li>Nachlassbrief</li>
            <li>Todesanzeige oder Trauerkarte</li>
         </ul> 
        </p>
        <p>
        Gerne können Sie auch eine E-Mail hinterlassen, um Sie zu informieren, sobald diese Funktion bereit ist.
        </p>

        <p align="center">
            <a class="button cta" href="{{ site.subpath }}{% link collections/pages/thank-you.md %}">Social Media Konten abschalten</a>
        </p>

      </aside>
    </div>
  </div>
</section>

