---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
front: true
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
#  footer: 1
#  main: 1
#  utility: 1
meta:
  description: "Describe your site in a sentence that entices folks to visit."
#  image:
#    alt: "Default social image"
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /index.html
#published: true
redirect_from:
  - /home
#schema:
#  type: "Thing"
sections:
#  - cta
#  - mailchimp
#sitemap: true
#tags: ["three", "four"]
title: "Home"
---



<section class="layout--stripe background-color--white  background-image--hero-home background-size--cover
  color--third-dark text-align--center background-image-display-mobile--show" id="home">
  <div class="layout--stripe--inner">
      <div class="layout--row display--flex">

            <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
    padding-horizontal--4 padding-horizontal--collapse">

                {% include atoms/heading.html
                  children="Wir wünschen Ihnen und Ihrer Familie viel Kraft"
                  classes=""
                  level="1"
                %}

                {% include atoms/spacer.html size="4" %}
                <p>
                Möchten Sie alle Social Media Konten von einem Verstorbenen abschalten?
                </p>

                <p>
                </p>
                <a class="button cta" href="{{ site.subpath }}{% link collections/pages/thank-you.md %}">Ja, ich möchte alle abschalten</a>
            </aside>

            
            <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
                {% include atoms/image.html
                  src="hug.jpg"
                  classes=""
                %}
              </aside>

            
      </div>
  </div>
</section>

<section id=call-of-action class="layout--stripe">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Wir möchten Ihnen in dieser schweren Zeit unterstützen."
      classes="text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">

        <p>
        Derzeit muss jedes Social Media Konto einzeln und umständlich per Kontaktformular abgeschaltet werden. Das dauert pro Konto ca. 30 Minuten. 
        </p> 
        <p>
        Wir möchten Ihnen, die eine geliebte Person verloren haben, helfen und das Abschalten aller Social Media Konten mit wenigen Klicks und in kurzer Zeit ermöglichen.
        </p>

        <p>
        Falls Ihnen eine solche Funktion helfen würden, klicken Sie bitte auf die Button.
        </p>
        <p align="center">
            <a class="button cta" href="{{ site.subpath }}{% link collections/pages/thank-you2.md %}">Alle Social Media Konten abschalten</a>
        </p>

      </aside>
    </div>
  </div>
</section>
